h1 {
    text-align: center;
}
#numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    width: 45px;
    height: 45px;
    background-color: darkseagreen;
    color: white;
}