body {
    background-color: #2AB7CA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

#form {
    background-color:  #E6E6EA;
    width: 600px;
    height: 200;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 3px 5px #454545;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form #input-label {
    padding: 5px;
    font-size: 1.5em;
    color: #313131;
}

#form #input-text {
    width: 350px;
    height: 40px;
    border: 2px solid #999;
    border-radius: 3px;
    font-size: 1.4em;
    padding-left: 10px;
}

#form div {
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form #add-button {
    margin-left: 15px;
    width: 100px;
    height: 45px;
    font-size: 1.1em;
}

#todos {
    width: 600px;
    margin: auto;  
    background-color: #F4F4F8;
    box-shadow: 3px 3px 5px #454545;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#todos ul {
    padding-left: 0;
    margin: 20px;
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 25px;
}

#todos li {
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: white;
    color: #16448D;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 3px;
}

#todos li:hover {
    background-color: #f3f3f3;
}

#todos .todo {
    display: flex;
    justify-content: space-between;
}

#todos .btn {
    cursor: pointer;
    background-color: #6F0E18;

    color: white;
    border-radius: 3px;
    margin-right: 10px;
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todos .btn:hover {
    background-color: #961B1E;
}