body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
#months {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 3px;
    width: 500px;
    height: 45px;
    background-color: darkseagreen;
    color: white;
}

.month-number {
    width: 50px;
    background-color: darkgreen;
    text-align: center;
}

.month-name {
    width: 450px;
    padding-left: 20px;
}

